/* CLASES REUTILIZABLES */
* {
    /*#2c3e50, #18bc9c, #212529*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /*respetamos altos y anchos*/
    margin:0;
    padding: 0; /*ocupa toda la pantalla*/
}

.container { /*Contenedor: ocupe cada fila del navegador(para cada imagen de work)*/
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: #18bc9c;
    cursor: pointer;
}

a:active {
    color: #fff;
    background: #18bc9c;
    border-radius: 3px;
    padding: 8px;
}

h1, h2, h3 {
    font-family: "Montserrat",'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase; /*Convierte el texto a mayuscula*/
}

section {
    padding: 100px 0;
}

section h2 {
    font-size: 3em;
}

.text-uppercase {
    text-transform: uppercase;
}
/*Estilo para lineas entes y despues de la estrella*/
.star-white::before { /*linea antes de estrella blanca*/
    content: "";
    width: 110px;
    height: 5px;
    background-color: white;
    display: inline-block;
}

.star-white::after { /*linea despues de estrella blanca*/
    content: "";
    width: 110px;
    height: 5px;
    background-color: white;
    display: inline-block;
}

.star-black::before { /*linea antes de estrella*/
    content: "";
    width: 110px;
    height: 5px;
    background-color: #2c3e50;
    display: inline-block;
}

.star-black::after { /*linea antes de estrella*/
    content: "";
    width: 110px;
    height: 5px;
    background-color: #2c3e50;
    display: inline-block;
}

.fa-star { /*Tamaño de la estrella*/
    position: relative;
    top: 10px;
    text-align: center;
    margin: 15px 8px 30px 8px;
}


/*--STYLE FOR THE HEADER--*/
header {
    font-family: "Montserrat",'Helvetica Neue',Helvetica,Arial,sans-serif;  
    background-color: #2c3e50; 
    position: fixed;
    top: 0; /*Se peque la parte duperior del navegador*/
    width: 100%; /*Tomara todo el navegador*/
    height: 108px; /*Alto de header*/
    font-weight: bolder; /*El navegador tendra letras gruesas*/
    z-index: 1000; /* 6 z-index-> sirve para trabajar por capas (traer adelante on retroceder capas antes o delante de otro)*/ 
}

span {
    position: absolute;/*centra el span del header*/
    color: white;
    font-size: 2em;
    transform: translateY(-50%);/*debajo de su padre*/
    top: 50%; /*siempre va junto a transalate para afectar a su padre*/
    cursor: pointer;
}

/*navegator*/
nav {
    position: absolute;/*cenytra el navegador del header*/
    float: right;
    right: 237px;
    color: white; 
    transform: translateY(-50%);/*debajo de su padre*/
    top:50%; /*siempre va junto a transalate para afectar a su padre*/
    cursor: pointer;
}

nav a {
    text-decoration: none; /*Quitamos el color azul del enlace*/  
    font-size: 1rem;    
    padding: 8px;
    letter-spacing: 1px; /*espacios entre letras del navegador*/
}

/*STYLE FOR THE INTRO*/
#intro {
    text-align: center;
    background-color: #18bc9c;
    color: white;
    width: 100%; /*Ocupe todo el navegador*/
    padding-top: 200px;
    padding-bottom: 100px;
}

#intro img {
   display: block;
   margin: 0 auto 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#intro h1 {
    font-size: 4.75em;  
}

#intro p {
    font-family: "Lato";
    font-size: 1.75em;
    font-weight: 300;
}

/*STYLE FOR THE SECTION PORTFOLIO*/
#portfolio {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: bold;
    color: #2c3e50;
}

#portfolio h2 {
    margin: 0;
}

#portfolio .box {
    display: inline-block;
    width: 345px;
    height: 249px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 30px;
}

/*STYLE FOR THE SECTION ABOUT*/
#about {
    text-align: center;
    background-color: #18bc9c;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#about .row { /*Colocamos en 2 columnas*/
    column-count: 2;
    margin: 0px 190px 20px 190px;
}

#about .colum {
    font-family: "Lato",'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: left;
}

#about p {
    font-size: 20px; 
}

#about .download {
    font-family: "Lato",'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: 50px;
}

#about .btn {
    font-size: 20px; 
    font-weight: 400;
    border: solid 2px #fff;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

#about a {
    text-decoration: none; /*Quitamos el color azul del enlace*/
    cursor: pointer;
}

/*STYLE FOR THE SECTION CONTACT*/
#contact {
    outline: 1px solid green;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: white;
    color: #2c3e50;
    justify-content:center;
}

#contact h2 {
    font-family: "Montserrat";
}

.form-control {
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: 1px solid #ddd;
    transition: all .5s;
    width: 700px;
    height: 100px;
    font-size: 25px;
    font-family: "Lato";
}

/*boton submit del formulario*/
.btn-submit {
   border-bottom: none;
   background-color: #18bc9c ;
   color: white;
   padding: .5rem 1rem;
   font-size: 1.25rem;
   line-height: 1.5;
   border-radius: .3rem;
   margin-right: 650px;
}

/*STYLE FOR THE FOOTER */
#footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    width: 100%;
    padding-top: 50px; /*separa row con el navegador*/
}

#footer .colum-foot {
    float: left;
    width: 350px;
    height: 169px; 
    margin-bottom: 50px;
    margin-left:  15px;
}

h3 {
    font-family: "Montserrat";
    font-size: 28px;  
    margin-bottom: 30px;
}

p {
    font-family: "lato";
    font-size: 20px;
}

p strong {
    color: #18bc9c;
}

.redes li { /*contenedor de iconos de las redes sociales*/
   margin-top: 15px;
   font-size: 20px;
   line-height: 45px;
   display: inline-block;
   width: 50px;
   height: 50px;
   text-align: center;
   border: 2px solid #fff;
   border-radius: 100%;
}

.copyright {
    font-family: "Lato";
    text-align: center;
    padding-top: 25px;
    padding-bottom:  25px;
}





